.form {
  margin-top: 60px;
  background-color: #ffffff;
  width: 778px;
  height: 1, 271px;
  padding: 32px 38px 32px 38px;
  gap: 42px;
  border-radius: 24px;
}

.form h1 {
  font-family: 'Circular Std';
  font-size: 32px;
  font-weight: 500;
  line-height: 41.6px;
  color: #2a2941;
  padding-bottom: 16px;
}

.form h3 {
  font-family: 'Circular Std';
  font-weight: 450;
  line-height: 20.8px;
  color: #b3b3b3;
  padding-bottom: 32px;
}

.form-images {
  display: flex;
  align-items: center;
  gap: 14px;
}

.form-images label {
  font-size: 20px;
  color: #5361e4;
  font-family: 'Roboto';
  cursor: pointer;
}

.form-images label:hover {
  text-decoration: underline;
}

.file {
  display: none;
}

.form-two {
  margin-top: 20px;
}

.form-two {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-two-div-title {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 450;
  line-height: 17.71px;
  color: #2a2941;
}

.form-input {
  margin-top: 8px;
  width: 702px;
  border: 1px solid #e3e3e3;
  padding: 18px;
  border-radius: 16px;
  gap: 10px;
}

.phone-div-title {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 450;
  line-height: 17.71px;
  color: #2a2941;
}

.form-phone-div {
  padding-top: 20px;
  padding-bottom: 8px;
}

.phone-input {
  padding: 18px;
  border-radius: 16px;
  width: 100%;
  border: 1px solid #e3e3e3;
  justify-content: space-between;
}

.form-residence {
  padding-top: 20px;
  padding-bottom: 8px;
}

.form-two-residence-title {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 450;
  line-height: 17.71px;
  color: #2a2941;
}

.form-employees {
  padding-top: 20px;
}

.form-two-employees-title {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 450;
  line-height: 17.71px;
  color: #2a2941;
}

.buttons {
  margin-top: 42px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-btn {
  padding: 15px 30px;
  gap: 10px;
  border-radius: 16px;
  border: none;
  background-color: #f8f8f8;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 20.24px;
  color: #6e6d77;
}

.two-bnt {
  border: none;
  padding: 18px 24px;
  gap: 10px;
  background-color: #5361e4;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 20.24px;
  color: #ffffff;
  cursor: pointer;
}

.footer {
  padding-top: 20px;
  padding-bottom: 42px;
}

.footer label {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 450;
  line-height: 17.71px;
  color: #2a2941;
}

.desc {
  margin-top: 10px;
  width: 100%;
  width: 702px;
  padding: 18px;
  gap: 10px;
  border-radius: 16px;
  border: none;
}

.card {
  width: 100%;
  background-color: red;
  padding: 20px;
}

.email {
  padding-bottom: 8px;
}

.card {
  padding: 20px;
  background-color: red;
}
